{% extends "components/card.html" %}

{% block card_content %}
<div class="mx-auto w-full max-w-screen-md p-2">
    <h3 class="text-xl font-bold text-center mb-8">How to Measure Head Circumference</h3>
    <div class="grid grid-cols-2 gap-6">
        <div>
            {% set logo_url = '/static/logos/logo_minnesota.svg' %}
            {% set title = 'University of Minnesota' %}
            {% set link_url = 'https://hello.com' %}
            {% include 'components/link_card.html' %}
        </div>
        <div>
            {% set logo_url = '/static/logos/logo_toolkit.svg' %}
            {% set title = 'Measurement Toolkit' %}
            {% set link_url = 'https://example.com' %}
            {% include 'components/link_card.html' %}
        </div>
        <div>
            {% set logo_url = '/static/logos/logo_wikihow.svg' %}
            {% set title = 'WikiHow' %}
            {% set link_url = 'https://example.com' %}
            {% include 'components/link_card.html' %}
        </div>
        <div>
            {% set logo_url = '/static/logos/logo_tutor.svg' %}
            {% set title = 'Measure Tutor' %}
            {% set link_url = 'https://example.com' %}
            {% include 'components/link_card.html' %}
        </div>
    </div>
</div>

{% endblock %}
