{% extends "components/card.html" %}

{% block card_content %}
<div class="flex flex-col gap-2 p-2">
    <p class="text-base text-center font-bold">The model is based on the article</p>
    <button class="btn btn--link w-fit self-center mt-4">
        <img src="/static/logos/logo_science_direct.svg" alt="Science Direct logo">
        <a href="https://www.jpeds.com/article/S0022-3476(10)00020-X/abstract" target="blank">
            10.1016/j.jpeds.2010.01.009
        </a>
    </button>
</div>
{% endblock %}
