# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.swp

# Version control directories
.git
.svn

# Build output and intermediate files
dist
node_modules
env
gather-metrics-env

# IDE files
.idea
.vscode

# Sensitive files
.env
*.pem
*.key
*.cert
