commitizen==3.29.0
fastapi[standard]==0.112.1
isort==5.13.2
mypy==1.11.1
numpy==2.1.0
pandas==2.2.2
pandas-stubs==2.2.2.240807
pre-commit==3.8.0
pydantic==2.8.2
pytest==8.3.2
pytest-asyncio==0.24.0
pytest-cov==5.0.0
scipy==1.14.1
slowapi==0.1.9
