{% extends "components/section.html" %}

{% block section_content %}
<h1 class="text-2xl font-bold mb-4 mt-10 text-center">About GATHER Foundation</h1>
<div class="grid grid-cols-1 md:grid-cols-1 gap-6 sm:gap-8 lg:gap-12 justify-center items-center w-full sm:w-9/10 md:w-8/10 lg:w-6/10 lg:pr-10 lg:pl-10 mx-auto">
    <!-- First Column: Gather -->
    <div class="card--light rounded-lg">{% include "sections/gather/cards/card_gather.html" %}</div>

    <!-- Second Column: Quote -->
    <!-- <div class="card--light rounded-lg">{% include "sections/gather/cards/card_quote.html" %}</div> -->

</div>
{% endblock %}
