{% extends "components/section.html" %}

{% block section_content %}
<div class="section-divider--light"></div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 lg:gap-12  w-full sm:w-9/10 md:w-8/10 lg:w-6/10 mx-auto mb-10 mt-12">
    <!-- First Column: Model -->
    <div class="card--light rounded-lg max-w-screen-sm flex flex-col justify-center">
        {% include "sections/model/cards/card_model.html" %}
    </div>

    <!-- Second Column: Paper -->
    <div class="card--light rounded-lg">
        {% include "sections/model/cards/card_howto.html" %}
    </div>
</div>
{% endblock %}
