{% extends "base.html" %}

{% block content %}
<h2 class="text-center sm:text-left text-xl sm:text-2xl font-bold mb-2 sm:mb-4">Calculate Head Circumference Percentile</h2>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 sm:gap-8 lg:gap-12 justify-center items-start w-full sm:w-9/10 md:w-8/10 lg:w-6/10 mx-auto">
    <!-- First Column: Form -->
    <div class="bg-base-100 p-4 sm:p-6 rounded-lg shadow-lg">
        {% include "form/form.html" %}
    </div>

    <!-- Second Column: Results and Explanation -->
    <div class="flex flex-col space-y-4">
        <div id="result-container" class="bg-base-100 p-4 sm:p-6 rounded-lg shadow-lg">
            <h2 class="text-center sm:text-left text-xl sm:text-2xl font-bold"><span id="result">_ _</span></h2>
        </div>
        <div class="bg-base-100 p-4 sm:p-6 rounded-lg shadow-lg">
            <h2 class="text-center sm:text-left text-lg sm:text-xl font-bold">Understanding the Results</h2>
            <p class="text-center sm:text-left">Explanation regarding the head circumference percentile goes here. Provide details about what the results mean and how they should be interpreted.</p>
        </div>
    </div>
</div>
<!-- Powered By Section -->
<div class="flex flex-col items-center justify-center mt-8">
    <div class="flex items-center space-x-2 text-gray-500">
        <!-- Powered by icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
            <path d="M12 0C5.371 0 0 5.372 0 12c0 6.629 5.371 12 12 12s12-5.371 12-12c0-6.628-5.371-12-12-12zm-3 17.25V6.75L17.25 12 9 17.25z"/>
        </svg>
        <span class="text-sm">Powered by</span>
        <!-- Linked Company logo -->
        <a href="https://stalicla.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/stalicla_logo_letters.svg" alt="Company Logo" class="h-8 w-auto">
        </a>
    </div>
</div>
{% endblock %}
