{% extends "components/card.html" %}

{% block card_content %}
    <h3 class="text-xl font-bold mb-2 text-center">Understanding the Results</h3>
    <p class="text-base text-center sm:pt-4 sm:pb-4 sm:pl-12 sm:pr-12 h-full">Our calculator provides the percentile of the head circumference of an individual. For example, for a female of 1 year and a head circumference of 46 cm the percentile is 77.14. This means that this kid has a head bigger than the 77% of the population with the same age.</p>
{% endblock %}
