<div id="form-container">
    <form hx-post="/head-circumference"
    hx-target="#result"
    hx-swap="innerHTML">

        <!-- Age + Unit Input Field -->
        {% include "form/input_float.html" %}

        <!-- Sex -->
        <div class="mb-4">
            <label for="sex" class="block mb-2 font-medium">Sex:</label>
            <select id="sex" name="sex" class="select select-bordered w-full" required>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>

        <!-- Head Circumference Value and Unit Next to Each Other -->
        <div class="mb-4">
            <label for="hcirc_value" class="block mb-2 font-medium">Head Circumference:</label>
            <div class="flex space-x-2">
                <input type="number" step="0.1" id="hcirc_value" name="hcirc_value" class="input input-bordered w-full" required>
                <select id="hcirc_unit" name="hcirc_unit" class="select select-bordered w-24" required>
                    <option value="cm">cm</option>
                    <option value="in">in</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-neutral w-full">Calculate</button>
    </form>
</div>
