<div class="mb-8">
    <label for="hcirc_value" class="block mb-2 font-medium">Sex</label>
    <div class="flex gap-4">
        <div class="flex items-center w-1/2 pr-2 border border-gray-300 rounded">
            <input id="sex-1" type="radio" value="F" name="sex" checked="checked" class="w-4 h-4 ms-4 bg-gray-100 border-gray-300 hover:bg-red-400 hover:text-red-400 focus:bg-red-400 focus:text-red-400 focus:outline-red-400 checked:bg-red-400 checked:outline-red-400">
            <label for="sex-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Female</label>
        </div>
        <div class="flex items-center w-1/2 pl-2 border border-gray-300 rounded">
            <input id="sex-2" type="radio" value="M" name="sex" class="w-4 h-4 ms-4 bg-gray-100 border-gray-300 hover:bg-red-400 hover:text-red-400 focus:bg-red-400 focus:text-red-400 focus:outline-red-400 checked:bg-red-400 checked:outline-red-400">
            <label for="sex-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Male</label>
        </div>
    </div>
</div>
