{% extends "components/card.html" %}

{% block card_content %}
<div class="flex flex-col gap-4 text-center text-base pl-2 pr-2">
    <p>
        GATHER Foundation is Global Alliance Towards Harmonized E-health Records for Precision Medicine in Neurodevelopmental Disorders (NDDs).
    </p>
    <p>
        As a recently established initiative, GATHER Foundation aims to promote and support the generation of minimum requirement frameworks for the curation and collection of harmonized clinical, genetic and molecular data in the field of NDDs.
    </p>
    <p>
        One of the major challenges of this harmonization process is that there are currently no clear standards regarding clinical data collection for NDD patients.
    </p>
    <p>
        Our ultimate goal at GATHER Foundation is to instate an era of precision medicine for patients with neurodevelopmental disorders (NDDs).
        GATHER Foundation aims to create a strategic, non-for-profit point of contact to facilitate data sharing across academic and clinical centers.
    </p>
</div>
{% endblock %}
