{% extends "components/card.html" %}

{% block card_content %}
<div class="quote text-center flex flex-col items-center justify-center gap-2 p-4 mt-3 mb-3">
    <img src="/static/logos/logo_shishu.png" alt="Shishu Center logo" class="w-48 mb-2">
    <h4 class="font-bold italic" alt="Shishu Center logo">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    </h4>
    <caption class="text-xs">- Name Surname, Lorem Ipsum</caption>
</div>
{% endblock %}
