<div class="mb-8">
    <label for="hcirc_value" class="block mb-2 font-bold">Sex</label>
    <div class="flex gap-4">
        <div class="flex items-center h-12 w-1/2 pr-2 border border-gray-300 rounded">
            <input id="sex-1" type="radio" value="F" name="sex" checked="checked" class="w-4 h-4 ms-4 bg-gray-100 border-gray-300 hover:bg-blue-600 hover:text-blue-600 focus:bg-blue-600 focus:text-blue-600 focus:outline-blue-600 checked:bg-blue-600 checked:text-blue-600 checked:outline-blue-600">
            <label for="sex-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Female</label>
        </div>
        <div class="flex items-center h-12 w-1/2 pl-2 border border-gray-300 rounded">
            <input id="sex-2" type="radio" value="M" name="sex" class="w-4 h-4 ms-4 bg-gray-100 border-gray-300 hover:bg-blue-600 hover:text-blue-600 focus:bg-blue-600 focus:text-blue-600 focus:outline-blue-600 checked:bg-blue-600 checked:text-blue-600">
            <label for="sex-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900">Male</label>
        </div>
    </div>
</div>
