{% extends "components/section.html" %}

{% block section_content %}
<div class="section-divider--dark"></div>
<div class="flex flex-col items-center justify-center mt-8 mb-8">
    <div class="flex items-center space-x-2">
        <!-- Powered by icon -->
        <span class="text-sm">Powered by</span>
        <!-- Linked Company logo -->
        <a href="https://stalicla.com" target="_blank" rel="noopener noreferrer">
            <img src="/static/img/stalicla_logo_letters.svg" alt="Company Logo" class="h-8 w-auto">
        </a>
    </div>
</div>
<div class="section-divider--dark"></div>
{% endblock %}
