{% extends "/layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/legal.css">
{% endblock %}

{% block base_content %}
<div class="main-wrapper p-4 pt-8 pb-8">
    <div class="main">
        <div class="description">
            <div class="section-title headline" style="color: var(--bg-primary);">Terms & conditions</div>
            <p>
                This website uses cookies
            </p>

            <!-- 1. Introduction -->
            <div class="how-long">
                <div class="section-subtitle headline">1. Introduction</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            Your access to and use of GATHER Foundation’s website (this “<strong>Website</strong>“) is
                            subject to the following terms and conditions (these “<strong>Terms and
                                Conditions</strong>“). By accessing and browsing this Website, you accept, without
                            limitation or qualification, these Terms and Conditions and you agree to respect all
                            applicable laws and regulations on the issues of copyright and personal data protection.
                        </p>
                        <p>
                            This Website uses cookies. By accessing this Website and agreeing to these Terms and
                            Conditions, you consent to the use by GATHER Foundation (“<strong>GATHER</strong>“) of
                            cookies in accordance with the terms of GATHER’s privacy policy (the “<span class="link"
                                routerLink="/privacy">Privacy Policy</span>“).
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            If you do not agree with these Terms and Conditions, do not access this Website. When using
                            particular services offered through this Website, you and GATHER shall be subject to any
                            guidelines or rules applicable to such services that may be posted on this Website from time
                            to time. All such guidelines or rules are hereby incorporated by reference into these Terms
                            and Conditions.
                        </p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- 2. What information do we collect from you? -->
            <div class="how-long">
                <div class="section-subtitle headline">2. What information do we collect from you?</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            You may freely browse this Website, but you may only view, access, download, print or use
                            the contents of this Website, including, but not limited to, any texts, images, schema or
                            videos (collectively, the “<strong>Information</strong>“) for your own non-commercial use,
                            subject to the restrictions set out below and elsewhere in these Terms and Conditions.
                        </p>
                        <p>
                            You must not:
                        </p>
                        <p>
                            - republish material from this Website (including, but not limited to, republication on
                            another website);<br>
                            - sell, rent or sub-license material from this Website;<br>
                            - show any material from this Website in public;<br>
                            - reproduce, duplicate, copy or otherwise exploit material on this Website for a commercial
                            purpose;<br>
                            - edit or otherwise modify any material on this Website; or<br>
                            - redistribute material from this Website.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            You should assume that the Information is the exclusive property of GATHER and that it is
                            copyrighted unless otherwise provided for, and may not be used, except as provided in these
                            Terms and Conditions, without the written permission of GATHER. Except as otherwise
                            permitted in this paragraph, GATHER neither warrants nor represents that your use of
                            materials displayed on this Website will not infringe rights of third parties not owned by
                            GATHER. GATHER is not liable for content that has been provided by third parties to GATHER
                            and which is displayed on this Website, including, but not limited to, unauthorized copying
                            and/or use of any material property of third parties or their accuracy.
                        </p>
                        <p>
                            With the exception of the foregoing limited authorization, no license to or right in the
                            Information, or any copyright or other intellectual property rights of GATHER or of any
                            other party is granted or conferred to you.
                        </p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- 3. Trademarks/Proprietary Rights -->
            <div class="how-long">
                <div class="section-subtitle headline">3. Trademarks/Proprietary Rights</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            All names appearing on this Website, whether or not in large print, italics or with the
                            trademark symbol are trademarks of GATHER. More particularly “GATHER” and the “GATHER” logo
                            are registered trademarks and belong to GATHER.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            This Website was created by GATHER. All rights reserved © GATHER Foundation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- 4. Disclaimer -->
            <div class="how-long">
                <div class="section-subtitle headline">4. Disclaimer</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            While GATHER uses reasonable efforts to ensure that the Information is accurate and up to
                            date, the Information may contain inaccuracies or typographical errors. GATHER reserves the
                            right to make changes or corrections to the Information at any time and without notice.
                            GATHER makes no representations or warranties as to the accuracy, reliability or
                            completeness of any of the Information. GATHER accepts no liability or responsibilities for
                            any errors or omission in the Information of this Website, or its use or interpretation.
                            GATHER does not guarantee the adequacy and accessibility of this Website (including, but not
                            limited to, continuous and uninterrupted access), its availability for use in any place or
                            that this Website is secure, error and virus free or free from inadequacies or other harmful
                            elements. Anyone accessing this Website (including, but not limited to, its services or
                            Information) is responsible for compliance with all applicable laws and regulations,
                            including, but not limited to, all applicable national or local laws.
                        </p>
                        <p>
                            The Information is provided by GATHER for general information purposes only. The access to
                            the Information is at your sole risk and access to the Information is made available without
                            any representation, warranty or guarantee of any kind, either express or implied, including
                            but not limited to, any representation, warranty or guarantee as to the completeness,
                            fairness, accuracy or correctness of the Information.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            GATHER shall not be responsible for the Information provided herein and shall not assume any
                            liability for the assumptions made, opinions stated or the likelihood of the achievement of
                            projections, in particular in connection with any forward-looking statements. The
                            Information contained herein is subject to change, without however any obligation for GATHER
                            to update it. There are a number of important factors that could cause GATHER’s condition,
                            development and/or actual performance and results to differ materially from the Information
                            indicated herein, in particular in any forward-looking statements. You acknowledge and agree
                            that you will be solely responsible for making your own analysis and investigations and
                            forming your own view as to the condition and prospects of GATHER and the completeness,
                            fairness, accuracy or correctness of the Information provided herein. Any damages you may
                            incur by the use of the Information and access to this Website will be supported solely by
                            you. Any responsibility of GATHER, including, but not limited to, its affiliates, if any,
                            and its and their board members, officers, employees, agents and representatives are
                            excluded.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 5. Personal Data -->
            <div class="why-information">
                <div class="section-subtitle headline">5. Personal Data, Data Protection and Cookies</div>
                <p class="half-width">
                    With regard to personal data processing, please review the Privacy Policy.
                </p>
            </div>

            <div class="divider"></div>

            <!-- 6. Consequences -->
            <div class="how-long">
                <div class="section-subtitle headline">6. Consequences</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            If GATHER becomes aware that you have violated any of the terms of these Terms and
                            Conditions, GATHER reserves the right to take appropriate corrective action. If GATHER has
                            been injured by your violation, GATHER may, in its sole discretion, seek to recover damages
                            from you.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            You hereby agree that you will indemnity GATHER and any of its affiliates, if any, and its
                            and their board members, officers, employees, agents and representatives.
                        </p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- 7. Changes to this Website and these Terms and Conditions -->
            <div class="how-long">
                <div class="section-subtitle headline">7. Changes to this Website and these Terms and Conditions</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            The effective date of these Terms and Conditions is as set out above.
                        </p>
                        <p>
                            GATHER reserves the right, with or without prior notice, to make changes or improvement to
                            the services, Information and any other information or content relating to this Website,
                            including, but not limited to, these Terms and Conditions.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            You are therefore responsible for regularly reviewing these Terms and Conditions. Continued
                            use of this Website following any such changes shall constitute your acceptance.
                        </p>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <!-- 8. Applicable Law and Jurisdiction -->
            <div class="how-long">
                <div class="section-subtitle headline">8. Applicable Law and Jurisdiction</div>
                <div class="two-columns-wrapper">
                    <!-- Column 1 -->
                    <div class="column-1">
                        <p>
                            By accessing and using this Website, you agree that the substantive laws of Switzerland,
                            without regard to conflicts of laws principles thereof, will apply to all matters relating
                            to the access and use of this Website.
                        </p>
                    </div>

                    <!-- Column 2 -->
                    <div class="column-2">
                        <p>
                            Any disputes arising out of, or in connection with, these Terms and Conditions, and your
                            access or use of this Website, shall be subject to the exclusive jurisdiction of the courts
                            of Geneva, Switzerland.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
