<!DOCTYPE html>
<html lang="en" data-theme="nord"> <!-- Set the theme here -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/gather_favicon.png">
    <title>Gather Metrics</title>
    <!-- Include HTMX -->
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen"
hx-ext="response-targets"
hx-target-429="#error-429"
>
<!-- Header -->
    {% include 'layouts/header.html' %}

    {% block base_content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'layouts/footer.html' %}
</body>
</html>
