/* Default state - Hide the date input field */
#age_date_input {
    display: none;
}

/* Show the date input field when DOB is selected */
input#age_dob:checked ~ #age_date_input {
    display: block;
}

/* Hide the float input field when DOB is selected */
input#age_dob:checked ~ #age_float_input {
    display: none;
}
